* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "noh-sori", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.App {
  text-align: center;
}

body {
  background-color: white;
}

.App-header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 1.2rem;
  color: #49494B;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav {
  width: 100%;
  display: flex;
  padding: 0 150px;
  text-transform: uppercase;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav ul li:hover {
  cursor: pointer;
  font-weight: 800;
  transition: 0.2s ease-in-out;
}

.profile {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(images/banner_img.jpg);
  background-position: center;
  background-size: cover;
}

.profile p {
  font-size: 3rem;
  color: black;
  display: flex;
  position: relative;
  font-style: italic;
  font-family: "epilogue-210", sans-serif;
  font-weight: bold;
  margin-right: 450px;
}

.App-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.About ul {
  width: 100%;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2rem;
  color: #49494B;
}

.About ul li {
  padding: 50px 0;
}

.Skill ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  color: #49494B;
  text-align: center;
}

.Skill ul li {
  padding: 100px;
  border-radius: 10px;
  margin: 100px 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);;
}

.Skill ul li:hover {
  background-color: #8E8E90;
  transition: 0.2s ease-in-out;
}

.Projects ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Projects ul li {
  width: 500px;
  height: 400px;
  background: white;
  border-radius: 10px;
  margin: 100px 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);;
}

.Projects ul li:hover {
  background-color: #8E8E90;
  transition: 0.2s ease-in-out;
}

.Contact ul {
  width: 100%;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2rem;
  color: #49494B;
}

.Contact ul li {
  padding: 50px 0;
}

.Contact ul li a {
  color: #49494B;
}

.App-footer {
  width: 100%;
  height: 150px;
  display: flex;
  background: #49494B;
}

/* ======================== MEDIA QUERIES (MEDIUM DEVIECES) ======================== */
@media screen and (max-width: 1024px) {
  
}