* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "noh-sori", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
}

body {
  background-color: white;
}

.App-header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 1.2rem;
  color: #49494B;
  background: white;
  position: sticky;
  top: 0;
}

.nav {
  width: 100%;
  display: flex;
  padding: 0 150px;
  text-transform: uppercase;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav ul li:hover {
  cursor: pointer;
  font-weight: 800;
  transition: 0.2s;
}

.profile {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  width: 100%;
  height: 100%;
  display: flex;
  background: url(images/banner_img.jpg);
  background-position: center;
  background-size: cover;
}

.App-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.About ul {
  width: 100%;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2rem;
  color: #49494B;
}

.About ul li {
  padding: 50px 0;
}

.Skill ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #49494B;
  text-align: center;
}

.Skill ul li {
  padding: 100px;
}

.App-footer {
  height: 150px;
  display: flex;
}