@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'source-han-sans-korean', 'sans-serif';
  --font-header: 'epilogue-210', 'sans-serif';
  
  --color-highlight: #058ed9;
  --color-text: #444545;
  --color-subtext: #D1DBDB;
}