@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'noh-sori', sans-serif;
  --font-header: 'epilogue-210', 'sans-serif';
  
  --color-lightgray: #A8A7A7;
  --color-highlight: #E8175D;
  --color-hover : #CC527A;
  --color-text: #363636;
  --color-subtext: #474747;
}